			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1><b>About</h1>
							<h2>Online Shopping For Ladies</h2>
							<p>
								 Internet is very means for people communicating and 
fullfilling their needs and exchanging ideas.  Many Universities, 
Educational Institutions, non-profit orientated organisations are 
on Internet providing their services on net.<br> 

		Applications on Internet  are  playing a very vital role
in the application development. which is providing all round solutions
right from the mails to Electronic-Commerce. Target of the current IT
industry is E-Commerce and Distributed Applications.
All the customers are expected to be the Internet users
these in near future.  Nearly 25% of the customers on net for banking 
and education purposes.  Looking at these aspects there should be
a common platform for the customer for his/her shopping and for other
investments. Internet is excepted to a shopping complex for most of 
customer-Electronic goods. Since, Internet is the platform for all
the above issues, here we are going to focus on e-shopping.<br>

		So here is a source for online shopping for ladies 
so that they easily buy their products at home.

							</p>
							<hr>
							<div class="ads">
								<h2>Our Aim</h2>
								<p>
									To enhance shopping easiness for ladies.								</p>
									
							</div>
							<h2>Be Part of Our Boutique</h2>
							<p>
								If you want latest varieties with discount prices for shopping then , join us <a href="/Home/signup"><span style="color:#D00000;">Register?</span></a> 
							</p>
		<h2>Logo</h2>
 <img src="~/Images\logo.jpg">						</div>
					</div>
				</div>
			</div>
		</div>
