
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Products</h1>
							<ul id="sites">
								<li>
									<a href="/Home/clothes"><img src="~/Images/c1.jpg" alt="Img" width="398" hieght="297"></a>
									<h2><a href="/Home/clothes">Dresses</a></h2>
									<p>
	We have lot of varieties of latest and stylish Dresses, including frocks, lehengas, skirts and jeanes for ladies with discount prices.										</p>
	<span class="rate">Prices:500 to 40,000</span>															</li>
								<li>
									<a href="/Home/shoes"><img src="~/Images/s2.jpg" alt="Img" width="398" hieght="297"></a>
									<h2><a href="/Home/shoes">Shoes</a></h2>
									<p>
We have latest varieties of ladies shoes including Heels, Flats, Sandals, Slippers, Mary janes and many more with new arrivals.										</p>
  <span class="rate">Price: 200 to 8000</span>
									
								</li>
								<li>
									<a href="/Home/bags"><img src="~/Images/b3.jpg" alt="Img" width="398" hieght="200"></a>
									<h2><a href="/Home/bags">Bags</a></h2>
									<p>
				We have latest varieties of bags including HandBags, Clutches, Wallets, Tech Accessories, Duffle Bags, and many more with discount prices.															</p>
  <span class="rate">Price:250-5000</span>									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>