
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Shoes</h1>
							<ul id="foods">
								<li>
									<h2>Heel Shoes</h2>
									<div class="infos">
										<img src="~/Images/h1.jpg" alt="Img" height="269" width="259"><img src="~/Images/h2.jpg" alt="Img" height="269" width="259"><img src="~/Images/h3.jpg" alt="Img" height="269" width="259"><span class="cover"></span></a>
										<p>
											<span>Heel Shoes</span>We have lot of varieties of latest Heel Shoes for girls.										</p>
									</div>
								</li>
								<li>
									<h2>Sandals</h2>
									<div class="infos">
										<img src="~/Images/s4.jpg" alt="Img" height="269" width="259"><img src="~/Images/s5.jpg" alt="Img" height="269" width="259"><img src="~/Images/s6.jpg" alt="Img" height="269" width="259"><span class="cover"></span></a>
										<p>
											<span>Sandals</span> We have lot of collection of sandals with latest fashion for ladies with discount prices.
										</p>
									</div>
								</li>
								<li>
									<h2>Slippers</h2>
									<div class="infos">
										<img src="~/Images/sl1.jpg" alt="Img" height="269" width="259"><img src="~/Images/sl2.jpg" alt="Img" height="269" width="259"><img src="~/Images/sl3.jpg" alt="Img" height="269" width="259"><span class="cover"></span></a>
										<p>
											<span>Slippers</span> We have lot of varieties of new fashion slippers.										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		