		
	<div id="contents">
	
		<div id="adbox">

			<img src="~/Images/logo2.jpg" alt="Img" >

			<img src="~/Images/logo1.jpg" alt="Img" >

			<img src="~/Images/the.jpg" alt="Img"  >

			<img src="~/Images/th.jpg" alt="Img"  >
			<h1>Enjoy Online Shopping!</h1>

			<p>
				
		Internet is very means for people communicating and 
fullfilling their needs and exchanging ideas.Applications on Internet  are  playing a very vital role
in the application development.All the customers are expected to be the Internet users
these in near future.Looking at these aspects there should be
a common platform for the customer for his/her shopping.This website is designed for ladies so that they can shopping online.</a>

			</p>
		
		</div>
			
	<div id="main">
	
		<div class="box">

			<div>
		
			<div>
		
			<h3><b>WELCOME! </h3>

			<ul>

			<li>										
			<h4>Purple Boutique For Ladies</h4>
			
			<p>
				
			We are providing latest varieties of clothes, bags and shoes for ladies to buy online and save your time with discount price.
										
			</p>
									
			</li>
	
			<li>
	
 						
			<p>
 
			You can order online for any product or variety and save your time.If you want shopping then <a href="/Home/signin"><b><span style="color:#D00000;">SignIn</span></a> first otherwise you can only visit our website.
			</p>

			</li>
	
			</ul>
 
			</div>

			</div> 

			</div> 

		<div id="testimonials" class="box"> 

			<div> 

			<div>
 
			<h3>Our Aim</h3>
			<img src="~/Images/shop.jpg" alt="image" width=530 height=180>				
			</div>
			
			</div>
				
			</div>
				
			</div>
	
		<div id="sidebar">
	
			<div class="section">
	
			<img src="~/Images/c2.jpg" alt="Img" height=144 width=280>
		
			</div>
	
			<div class="section">
	
			<img src="~/Images/s4.jpg" alt="Img" height=144 width=280> 

			</div>
	
			<div class="section"> 

			<img src="~/Images/b1.jpg" alt="Img" height=144 width=280>
	
			</div>
	
			</div>
	
	 		</div>
	
			</div>
	
			