
																	<div class="body">
<pre>





</pre>							<h1 style="color:red"><pre>
Welcome! Dear Manager</h1>
<h2 style="color:brown">Successfully Done!</h2>
<h3 style="color:green">Select from menu which you want to perform?</h3></pre>
<pre>													<a href="../Home/signout"><i>Sign Out?</a><br>
		<a href="/Manager/Addproduct">Add new Product</a><br>
		<a href="/Manager/view">View details of products</a><br>
</pre>
	

	<img src="~/Images/c4.jpg"><img src="~/Images/s3.jpg"><img src="~/Images/b2.jpg">
</div>			
			
			</div>
